.wrapper {
  width: 100vw;
  height: 200vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p {
  font-size: 3rem;
  margin: 0;
  margin-top: -100px;
}

.p2 {
  font-size: 1rem;
}
.p3 {
  font-size: 0.6rem;
  margin-bottom: 20px;
}

.arrow {
  font-size: 3rem;
}

.title {
  cursor: pointer;
  font-size: 7rem;
  user-select: none;
  margin-top: 500px;
}
