.wrapper {
  width: 100vw;
  height: 200vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p {
  margin: 0;
  margin-top: -300px;
  margin-bottom: 20px;
}

.title {
  cursor: pointer;
  font-family: "IBM Plex Mono";
  font-size: 7rem;
  user-select: none;
  margin-top: 500px;
}
